/* You can add global styles to this file, and also import other style files */

body {
    background: #b2d3f1;
}


/* HEADER */

header {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    margin-top: 18px;
    text-align: center;
}


/* BODY */

h1 {
    color: white;
}

h3 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    color: white;
}

.centerRow {
    display: flex;
    justify-content: center;
}

.value-entry {
    height: 30px;
    line-height: 30px;
}

.value-entry img {
    width: 30px;
    height: 30px;
    padding: 3px;
}

.label-entry {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.blockImage {
    width: 48px;
}

.rowTwitterItem {
    background: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.rowTwitterItem .firstCol {
    padding: 0px;
}


/* NAVBAR */

nav ul {
    padding: 0 !important;
    display: flex;
    margin-top: 70px;
}

nav li {
    list-style-type: none;
    width: 200px;
}

nav a {
    text-align: center;
    padding: 10px 0;
    display: block;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    text-decoration: none;
}

nav label {
    font-size: large;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

nav label:hover {
    cursor: pointer;
}

.errorMessages {
    width: 900px;
    margin: 20px 10px 15px 10px;
    padding: 8px 35px 8px 30px;
    color: #B94A48;
    background-color: #F2DEDE;
    border: 2px solid #EED3D7;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

nav img {
    height: 50px;
}


/* FOOTER */

footer {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    margin-top: 18px;
}

footer ul {
    padding: 0 !important;
    display: flex;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-top: 0;
}

footer li {
    flex-basis: 0;
    flex-grow: 1;
    list-style-type: none;
}

footer a {
    text-align: center;
    padding: 7px 0;
    color: rgb(0, 0, 0);
    display: block;
    text-decoration: none;
    font-size: x-small;
}