agm-map {
    height: 600px;
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
}

.twitterItem {
    max-width: 500px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 20px;
    background: #F0B775;
}