<h4>Drag-and-Drop - Shopping basket</h4>
<div class="row">

    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">Available Attributes</div>
            <div class="panel-body">
                <ul *ngFor="let attribute of availableSelectAtts" class="panel panel-default"
                    dnd-draggable [dragEnabled]="true" [dragData]="attribute" (onDragSuccess)="orderedProduct($event)" [dropZones]="['demo1']">
                    <li>
                        <img src="{{attribute.imagePath}}">
                        <span>{{attribute.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div dnd-droppable (onDropSuccess)="addToDroppedSelectAtts($event)" [dropZones]="['demo1']" class="panel panel-info">
            <div class="panel-heading">Diplayed data from the Tweets</div>
            <div class="panel-body">
                <ul *ngFor="let attribute of droppedSelectAtts" class="panel panel-default">
                    <li>
                        <img src="{{attribute.imagePath}}">
                        <span>{{attribute.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
