<h3>Select Attributes</h3>
<div class="row centerRow">
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading headingStyle">Available Attributes</div>
            <div class="panel-body attributeBox">
                <ul *ngFor="let attribute of availableSelectAtts" class="panel panel-default" dnd-draggable [dragEnabled]="alreadyDraggedAndDropped(attribute)" [dragData]="attribute" [dropZones]="['demo1']">
                    <li>
                        <img src="{{attribute.imagePath}}">
                        <span>{{attribute.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div dnd-droppable (onDropSuccess)="addToDroppedSelectAtts($event)" [dropZones]="['demo1']" class="panel panel-info">
            <div class="panel-heading headingStyle">Selected Attributes</div>
            <div class="panel-body attributeBox">
                <ul *ngFor="let attribute of droppedSelectAtts" class="panel panel-default">
                    <li>
                        <img src="{{attribute.imagePath}}">
                        <span>{{attribute.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<nav class="centerRow">
    <ul>
        <li>
            <a routerLink="/" routerLinkActive="active">
                <img src="assets/arrows/icons8-left-50.png">
            </a>
        </li>
        <li>
            <a routerLink="/conditions" routerLinkActive="active">
                <img src="assets/arrows/icons8-right-50.png">
            </a>
        </li>
    </ul>
</nav>