.selectLanguage {
    margin-right: 20px;
}

.selectLanguage:hover {
    cursor: pointer;
    background: #5cb95c;
}

.inputCol {
    max-width: 400px;
}

.rowOffset {
    margin-top: 30px;
}

.sliderLabel {
    margin-top: 35px;
}

.createdAtInput {
    margin-top: 45px;
}

.conditionsBox {
    max-width: 700px;
}

.languageSelected {
    background: #5cb95c;
    margin-right: 20px;
}

.languageSelected:hover {
    cursor: pointer;
}