<h3>Any restrictions?</h3>
<div class="container conditionsBox">
    <div class="row centerRow">
        <div class="col-sm-3">
            <div class="label-entry rowOffset">Tweet Language:</div>
            <div class="label-entry rowOffset">Hashtag:</div>
            <div class="label-entry rowOffset">User Name:</div>
            <div class="label-entry rowOffset sliderLabel">Follower Range:</div>
            <div class="label-entry rowOffset sliderLabel">Tweets-Count Range:</div>
            <div class="label-entry rowOffset sliderLabel">Created-At Range:</div>
        </div>
        <div class="col-sm-9">
            <div class="value-entry rowOffset">
                <img [ngClass]="status1 ? 'languageSelected' : 'selectLanguage'" src="assets/images/flags/flag_uk.png" (click)="addLanguage('en');status1=!status1">
                <img [ngClass]="status2 ? 'languageSelected' : 'selectLanguage'" src="assets/images/flags/flag_germany.png" (click)="addLanguage('de');status2=!status2">
                <img [ngClass]="status3 ? 'languageSelected' : 'selectLanguage'" src="assets/images/flags/flag_spain.png" (click)="addLanguage('es');status3=!status3">
                <img [ngClass]="status4 ? 'languageSelected' : 'selectLanguage'" src="assets/images/flags/flag_russia.png" (click)="addLanguage('ru');status4=!status4">
            </div>
            <div class="value-entry rowOffset">
                <div class="inputCol">
                    <input class="form-control input-md" id="inputHashtag" name="inputHashtag" type="text" placeholder="#" [(ngModel)]="hashtag">
                </div>
            </div>
            <div class="value-entry rowOffset">
                <div class="inputCol">
                    <input class="form-control input-md" id="userName" name="userName" type="text" [(ngModel)]="userName">
                </div>
            </div>
            <div class="value-entry rowOffset">
                <div class="inputCol">
                    <ng5-slider [(value)]="minValueFollowerRange" [(highValue)]="maxValueFollowerRange" [options]="optionsFollowerRange"></ng5-slider>
                </div>
            </div>
            <div class="value-entry rowOffset">
                <div class="inputCol">
                    <ng5-slider [(value)]="minValueTweetsCount" [(highValue)]="maxValueTweetsCount" [options]="optionsTweetsCount"></ng5-slider>
                </div>
            </div>
            <div class="value-entry createdAtInput">
                <div class="inputCol">
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control input-md" id="fromCreatedAt" name="fromCreatedAt" [(ngModel)]="fromCreatedAt" type="text" placeholder="dd/mm/yyyy">
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control input-md" id="toCreatedAt" name="toCreatedAt" [(ngModel)]="toCreatedAt" type="text" placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="centerRow">
    <ul>
        <li>
            <a routerLink="/selectAttributes" routerLinkActive="active">
                <img src="assets/arrows/icons8-left-64.png">
                <label>Back</label>
            </a>
        </li>
        <li>
            <a (click)="saveAndRoute()">
                <label>Continue</label>
                <img src="assets/arrows/icons8-right-64.png">
            </a>
        </li>
    </ul>
</nav>