.selectLanguage {
    margin-right: 20px;
}

.selectLanguage:hover {
    cursor: pointer;
    background: green;
}

.inputCol {
    max-width: 400px;
}

.rowOffset {
    margin-bottom: 15px;
}

.conditionsBox {
    max-width: 500px;
}

.languageSelected {
    background: green;
    margin-right: 20px;
}

.languageSelected:hover {
    cursor: pointer;
}