<h3>Any restrictions?</h3>
<div class="container conditionsBox">
    <div class="row centerRow">
        <div class="col-sm-3">
            <div class="label-entry rowOffset">Tweet Language:</div>
            <div class="label-entry rowOffset">Tweet Source:</div>
            <div class="label-entry rowOffset">Hashtag:</div>
            <div class="label-entry rowOffset">User Name:</div>
            <div class="label-entry rowOffset sliderLabel">Follower Range:</div>
            <div class="label-entry rowOffset sliderLabel">Tweets-Count Range:</div>
            <div class="label-entry rowOffset sliderLabel">Created-At Range:</div>
        </div>
        <div class="col-sm-9">
            <div class="value-entry rowOffset">
                <img [ngClass]="status1 ? 'languageSelected' : 'selectLanguage'" title="English" src="assets/images/flags/flag_uk.png" (click)="addLanguage('en');status1=!status1">
                <img [ngClass]="status2 ? 'languageSelected' : 'selectLanguage'" title="German" src="assets/images/flags/flag_germany.png" (click)="addLanguage('de');status2=!status2">
                <img [ngClass]="status3 ? 'languageSelected' : 'selectLanguage'" title="Spanish" src="assets/images/flags/flag_spain.png" (click)="addLanguage('es');status3=!status3">
                <img [ngClass]="status4 ? 'languageSelected' : 'selectLanguage'" title="Russian" src="assets/images/flags/flag_russia.png" (click)="addLanguage('ru');status4=!status4">
                <img [ngClass]="status5 ? 'languageSelected' : 'selectLanguage'" title="French" src="assets/images/flags/flag_france.png" (click)="addLanguage('fr');status5=!status5">
                <img [ngClass]="status6 ? 'languageSelected' : 'selectLanguage'" title="Italian" src="assets/images/flags/flag_italy.png" (click)="addLanguage('it');status6=!status6">
                <img [ngClass]="status7 ? 'languageSelected' : 'selectLanguage'" title="Portuguese" src="assets/images/flags/flag_portugal.png" (click)="addLanguage('po');status7=!status7">
            </div>
            <div class="value-entry rowOffset">
                <img [ngClass]="status8 ? 'languageSelected' : 'selectLanguage'" title="Twitter Web Client" src="assets/images/source_types/web_client.png" (click)="addSourceType('Twitter Web Client');status8=!status8">
                <img [ngClass]="status9 ? 'languageSelected' : 'selectLanguage'" title="Twitter for Android" src="assets/images/source_types/android.png" (click)="addSourceType('Twitter for Android');status9=!status9">
                <img [ngClass]="status10 ? 'languageSelected' : 'selectLanguage'" title="Twitter for iPhone" src="assets/images/source_types/apple.png" (click)="addSourceType('Twitter for iPhone');status10=!status10">
                <img [ngClass]="status11 ? 'languageSelected' : 'selectLanguage'" title="Not Found!" src="assets/images/source_types/not_found.png" (click)="addSourceType('Not Found!');status11=!status11">
            </div>
            <div class="value-entry rowOffset">
                <div class="inputCol">
                    <input class="form-control input-md" id="inputHashtag" name="inputHashtag" type="text" placeholder="#" [(ngModel)]="hashtag">
                </div>
            </div>
            <div class="value-entry rowOffset">
                <div class="inputCol">
                    <input class="form-control input-md" id="userName" name="userName" type="text" [(ngModel)]="userName">
                </div>
            </div>
            <div class="value-entry rowOffset">
                <div class="inputCol">
                    <ng5-slider [(value)]="minValueFollowerRange" [(highValue)]="maxValueFollowerRange" [options]="optionsFollowerRange"></ng5-slider>
                </div>
            </div>
            <div class="value-entry rowOffset">
                <div class="inputCol">
                    <ng5-slider [(value)]="minValueTweetsCount" [(highValue)]="maxValueTweetsCount" [options]="optionsTweetsCount"></ng5-slider>
                </div>
            </div>
            <div class="value-entry createdAtInput">
                <div class="inputCol">
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control input-md" id="fromCreatedAt" name="fromCreatedAt" [(ngModel)]="fromCreatedAt" type="text" placeholder="dd/mm/yyyy">
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control input-md" id="toCreatedAt" name="toCreatedAt" [(ngModel)]="toCreatedAt" type="text" placeholder="dd/mm/yyyy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="centerRow">
    <ul>
        <li>
            <a routerLink="/selectAttributes" routerLinkActive="active">
                <img src="assets/arrows/icons8-left-64.png">
                <label>Back</label>
            </a>
        </li>
        <li>
            <a (click)="saveAndRoute()">
                <label>Continue</label>
                <img src="assets/arrows/icons8-right-64.png">
            </a>
        </li>
    </ul>
</nav>