<h3>Conditions</h3>
<div class="container conditionsBox">
    <div class="row centerRow">
        <div class="col-sm-6">
            <div class="label-entry rowOffset">Tweet Language:</div>
            <div class="label-entry rowOffset">Hashtag:</div>
        </div>
        <div class="col-sm-6">
            <div class="value-entry rowOffset">
                <img src="assets/images/flags/flag_uk.png">
                <img src="assets/images/flags/flag_germany.png">
                <img src="assets/images/flags/flag_spain.png">
                <img src="assets/images/flags/flag_russia.png">
            </div>
            <div class="value-entry rowOffset">
                <div class="inputCol">
                    <input class="form-control input-md" required id="hashtag" name="hashtag" type="text" placeholder="#">
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="centerRow">
    <ul>
        <li>
            <a routerLink="/selectAttributes" routerLinkActive="active">
                <img src="assets/arrows/icons8-left-50.png">
            </a>
        </li>
        <li>
            <a routerLink="/results" routerLinkActive="active">
                <img src="assets/arrows/icons8-right-50.png">
            </a>
        </li>
    </ul>
</nav>