li {
    list-style-type: none;
    padding: 5px;
}

.attributeBox li img {
    height: 40px;
}

.attributeBox {
    background: #F0B775;
    min-height: 398px;
}

.headingStyle {
    background: #D65652;
    color: white;
}

.mapIcon {
    height: 40px;
}

.toogleMap {
    display: inherit;
}

.mapIconsSeperator {
    font-size: xx-large;
    margin: 0 10px 0 10px;
}

.toogleSwitch {
    margin-left: 20px;
}

.addAllIcon {
    height: 40px;
    cursor: pointer;
}

.addAllContainer {
    margin-top: 20px;
}

.addAllLabel {
    margin-left: 10px;
    cursor: pointer;
}