li {
    list-style-type: none;
    padding: 5px;
}

.attributeBox li img {
    height: 40px;
}

.attributeBox {
    background: #F0B775;
    height: 398px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.headingStyle {
    background: #D65652;
    color: white;
}

.mapIcon {
    height: 40px;
}

.toogleMap {
    display: inherit;
}

.mapIconsSeperator {
    font-size: xx-large;
    margin: 0 10px 0 10px;
}

.toogleSwitch {
    margin-left: 20px;
}

.buttonIcon {
    height: 40px;
    cursor: pointer;
}

.buttonContainer {
    margin-top: 20px;
}

.buttonLabel {
    margin-left: 10px;
    cursor: pointer;
}