<h3>Please Drag & Drop the attributes of a Tweet, which you want to see on the results page.</h3>
<div class="row centerRow">
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading headingStyle">Available Attributes</div>
            <div class="panel-body attributeBox">
                <ul *ngFor="let attribute of availableSelectAtts" class="panel panel-default" dnd-draggable [dragEnabled]="alreadyDraggedAndDropped(attribute)" [dragData]="attribute" [dropZones]="['demo1']">
                    <li>
                        <img src="{{attribute.imagePath}}">
                        <span>{{attribute.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div dnd-droppable (onDropSuccess)="addToDroppedSelectAtts($event)" [dropZones]="['demo1']" class="panel panel-info">
            <div class="panel-heading headingStyle">Selected Attributes</div>
            <div class="panel-body attributeBox">
                <ul *ngFor="let attribute of droppedSelectAtts" class="panel panel-default">
                    <li>
                        <img src="{{attribute.imagePath}}">
                        <span>{{attribute.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row centerRow">
    <div class="col-sm-3 toogleMap">
        <img class="mapIcon" src="assets/images/select_attributes/Maps-icon.png" title="{{tootleSwitchText}}">
        <label class="mapIconsSeperator" title="{{tootleSwitchText}}">/</label>
        <img class="mapIcon" title="{{tootleSwitchText}}" src="assets/images/select_attributes/list.png">
        <ngx-toggle title="{{tootleSwitchText}}" class="toogleSwitch" onColor="{{toogleSwitchModel.onColor}}" onText="{{toogleSwitchModel.onText}}" offColor="{{toogleSwitchModel.offColor}}" offText="{{toogleSwitchModel.offText}}" [disabled]="toogleSwitchModel.disabled"
            [size]="toogleSwitchModel.size" [(value)]="toogleSwitchModel.value">
        </ngx-toggle>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row centerRow">
    <div class="col-sm-3 addAllContainer">
        <img (click)="addAllAttributes()" title="Add all attributes" class="addAllIcon" src="assets/images/select_attributes/addAll.png">
        <span (click)="addAllAttributes()" title="Add all attributes" class="addAllLabel">Add All Attributes</span>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="centerRow">
    <div class="errorMessages" [hidden]="!showErrorMessage">Please select at least one attribute.</div>
</div>

<nav class="centerRow">
    <ul>
        <li>
            <a (click)="saveAndRoute()">
                <label>Continue</label>
                <img src="assets/arrows/icons8-right-64.png">
            </a>
        </li>
    </ul>
</nav>