li {
    list-style-type: none;
    padding: 5px;
}

.attributeBox li img {
    height: 50px;
}

.attributeBox {
    background: #F0B775;
    min-height: 398px;
}

.headingStyle {
    background: #D25565;
    color: white;
}